.landing-page {
    background-image: url("../IMAGE/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     min-height: 100vh;
    margin: 0;
}

.top-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 20px;
    font-family: 'Nosifer', cursive;
    font-size: 18px;
    color: #d0c1b9;
    text-align: center;
}


.hero {
    min-height: 100vh;
}

.hero__overlay {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.43);
    padding: 24px;
}

.hero__content {
    max-width: 720px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}

#see-more-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #90412a;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

:hover#see-more-btn {
    background-color:#ffc29f ;
    color: #983801;
    transition-duration: 0.45s;
}

#see-more-btn:active {
    background-color: #955000ed;
    color: #fff;
}

:touch#see-more-btn {
    background-color: #955000ed;
    color: #fff;
}

.hero__title {
    font-family: 'Nosifer', cursive;
    font-size: 24px;
    margin-bottom: 0px;
    background: linear-gradient(to top, #f0af89 20%, #9e5226 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
      animation: floatGlow 3s ease-in-out infinite;
}

@keyframes floatGlow {
    0%, 100% {
        transform: translateY(0);
        filter: drop-shadow(0 0 0 rgba(41, 19, 6, 0.697));
    }
    50% {
        transform: translateY(-6px);
        filter: drop-shadow(0 0 10px rgba(236, 184, 152, 0.304));
    }
}


.hero__write-up {
    animation: slide-in 3s ease-out both;
}

@keyframes slide-in {
  from {
        transform: translateX(150vw) scaleX(2);
        opacity: 0;
  }

  to {
        transform: translateX(0) scaleX(1);
        opacity: 1;
  }
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
