body{
    margin: 0;
    background-image: url(../IMAGE/Hero\ Cake\ 3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


main{
    background: rgba(0, 0, 0, 0.43);
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 25px;
}




#slider-image{
     overflow: hidden;
     width: 750px;
}

.slide{
    width: 500%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite
}

.slider-img{
    
    float: left;
    width: 20%;
    border-radius: 25px;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    
}

.text{
    display: inline;
    padding-left: 100px;
}

.icon{
    max-width: 50px;
}

.top-logo {
    position: absolute;
    top: 30px;
    width: fit-content;
    padding: 20px;
    font-family: 'Nosifer', cursive;
    font-size: 24px;
    color: #d0c1b9;
    text-align: center;
}


    

.cart {
    position: absolute;
    top: 30px;
    right: 80px;
    width: fit-content;
    padding: 0;
}

.cart img {
    max-width: 55px;
    cursor: pointer;
}

.greeting {
    margin-top: 0;
    padding-top: 175px;
}

.greeting-user {
    font-size: 40px;
    color: #ecdede;
    font-weight: bold;
    margin: 25px 0 10px 0;
    font-family: 'Nosifer','Arial';
}

.greeting p {
    font-size: 20px;
    color: #ecdede;
    margin: 15px
    line-height: 1.5;
    
}

.catalog {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.catalog li {
    list-style: none;
}

.catalog a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    gap: 15px;
    cursor: pointer;
}

.catalog h3 {
    font-size: 18px;
    margin: 0;
    color: #ecdede;
    font-family: 'Nosifer';
    font-weight: 500;
}

.catalog a:hover {
    transform: translateX(5px);
    transition: transform 0.2s ease;
    box-shadow: #333;
}

